html {
    font-size: 62.5%;
}

body {
    background-color: #f7f7f7;
    font-family: roc-grotesk, sans-serif;
}

p {
    margin: 0;
}

.loading {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

.loading>h1 {
    font-weight: 600;
    max-width: 15%;
    text-align: center;
}

.comingsoon {

    font-size: 5rem;
    background: rgb(255, 0, 0, 0.75);
    /*display: none;*/
    display: flex;
    max-width: 80%;
    color: #f7f7f7;
    border-radius: 25px;
    z-index: 10;
    position: fixed;
    padding: 4rem 6rem;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 13rem;
}

.comingsoon>h1 {
    margin: 0;
}

.result {
    font-size: 6rem;
    display: flex;
    height: 100vh;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.heading {
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}

.grid-container {
    display: flex;
    max-width: 60%;
    margin: 6rem auto;
    align-items: center;
    justify-content: center;
}

.main-text {
    font-size: 2.5rem;
    font-weight: 400;
    margin-left: 8rem;
}

.bouncing-ball {
    height: 250px;
    margin-right: 2rem;
}

.btn {
    background-color: #f7f7f7;
    padding: 1rem 2rem;
    font-family: roc-grotesk, sans-serif;
    letter-spacing: .1rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    border: .5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: transform .25s ease;
}

.btn:hover {
    color: #f7f7f7;
    background: black;
    cursor: pointer;
}

.question-card {
    font-size: 2rem;
    max-width: 40%;
    margin: auto;
    text-align: center;
    margin-top: 5rem;
    border-radius: 20px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
    padding: 2.5rem 6rem;
    transition: transform .25s ease;
}

.question-card:hover {
    transform: scale(1.05);
}

.options {
    max-width: 35%;
    display: flex;
    margin: auto;
    justify-content: space-evenly
}

.question {
    margin-bottom: 2rem;
}

.submit {
    margin-top: 4rem;
    margin-bottom: 4rems;
}

.league {
    display: flex;
}